body {
	background-color: lightgoldenrodyellow;
}

#one {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
	border: thin 1px;
	margin: auto;
	margin-top: 1.5%;
}

td {
	text-align: center;
}

h2, p {
	text-align: center;
}
